@using Microsoft.AspNetCore.Identity
@using CSISD_Tolling_System.Models
@using CSISD_Tolling_System.Data
@using Microsoft.AspNetCore.Http
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@*change to match Login Display.razor*@
@if (!(SignInManager.IsSignedIn(User)))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
else
{
    

<AuthorizeView Roles="road-user">
        <Authorized>
                <a href="Identity/Account/Manage">Hello, @User.Identity.Name!</a>
                <a href="Identitiy/Account/Register">Current Tolls</a>
                <a href="Identitiy/Account/Register">Past Payments</a>
                <a href="Identity/Account/Register">Contracts</a>
                <a href="Identiity/Account/Register">Contacts</a>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link">Log out</button>
                </form></Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="toll-operator">
            <Authorized>
            <a href="Identity/Account/Manage">Hello, @User.Identity.Name!</a>
                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="nav-link btn btn-link">Log out</button>
                </form>
                <a href="Identitiy/Account/Register">Unpaid Tolls</a>
                <a href="Identity/Account/Register">Toll History</a>
                <a href="Identitiy/Account/Register">Invoice</a>
                <a href="Identity/Account/Register">Contracts</a>
                <a href="Identiity/Account/Register">Contacts</a>
            </Authorized>
         
</AuthorizeView>
}