@using Microsoft.AspNetCore.Identity
@page "/"

@code {
    int userId = 1;
}

<AuthorizeView Roles="road-user">
    <Authorized>
        <div class="container">
            <h5>Customer ID: </h5>
            <table class="table table-hover mt-1 table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="toll-operator">
    <Authorized>

    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Welcome to the <b>Nordic Tolling Service</b></h1>
                <p class="lead text-muted">
                    Register or login to make use of this system...
                </p>
                <p>
                    <a href="/Identity/Account/Register" class="btn btn-primary my-2">Register</a>
                    <a href="/Identity/Account/Login" class="btn btn-secondary my-2">Login</a>
                </p>
            </div>
        </section>
    </NotAuthorized>
</AuthorizeView>
