@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Contracts"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>@Localizer["Contracts"]</h1>
    <p>@Localizer["Please login to view this page"]</p>
</div>