@using CSISD_Toll_Operator_Assignment.Models

@model Contract

<h1>@ViewData["Title"]</h1>
@{
    ViewData["Title"] = "ContractTollOperator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ContractTollOperator</h1>

<div class="container">
    <p>Details</p>
</div>