@using CSISD_Toll_Operator_Assignment.Models
@model PaymentViewModel 
@{
    ViewData["Title"] = "Pay Invoice";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <form asp-controller="Toll" asp-action="Pay" method="post">
        
    </form>
</div>
