@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity
@using CSISD_Tolling_System.Models
@using CSISD_Tolling_System.Data
@using Microsoft.AspNetCore.Http
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ApplicationDbContext db
@inject IHttpContextAccessor httpContextAccessor

<section class="topSection">
    <div class="row">
        <div class="col">
            <img class="stockPhoto" src="~/images/pic1.jpg" />
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-8">
                    <h1>Nordic Deartment of Transport</h1>
                    <p class="description">Put text in here</p>
                </div>
                <div class="col-4">
                    <select name="languages" id="languages-select">
                        <option value="english">English</option>
                        <option value="french">French</option>
                    </select>
                    <a href="#"><i class="fa fa-search-plus fa-2x" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-search-minus fa-2x" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <AuthorizeView Roles="road-user">
                                <Authorized>
                                    <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="Identitiy/Account/Register">Current Tolls</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                    </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                                </Authorized>
                            </AuthorizeView>
                            <AuthorizeView Roles ="toll-operator">
                                <Authorized>

                                </Authorized>
                            </AuthorizeView>
                            <AuthorizeView>
                                <NotAuthorized>
                                    <li class="nav-item active"><a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" href="Identitiy/Account/Register">Register</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Identitiy/Account/Log In">Log In</a>
                                    </li>
                                </NotAuthorized>
                            </AuthorizeView>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>
 

